@model SoteCare.Models.Users

@{
    ViewBag.Title = "Login";
}

<h2>SoteCare, Kirjaudu sisään</h2>

@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label for="username">Käyttäjätunnus (Etunimi Sukunimi)</label>
        <input type="text" name="username" class="form-control" required />
    </div>

    <div class="form-group">
        <label for="password">Salasana</label>
        <input type="password" name="password" class="form-control" required />
    </div>

    if (ViewBag.ErrorMessage != null)
    {
        <div class="text-danger">@ViewBag.ErrorMessage</div>
    }

    <div class="mt-lg-1">
        <button type="submit" class="btn btn-info">Kirjaudu sisään &raquo;</button>
    </div>
}

