* {
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Lato", sans-serif;
}


/* NÄYTÖLLE RESPONSIIVISUUTA VISSIIN ? */
@media screen and (max-height: 450px) {
.sidenav {
    padding-top: 15px;
}

.sidenav a {
    font-size: 18px;
}
}

/* Style the search box */
#sideSearch {
    width: auto;
    margin-left: 20px;
    font-size: 18px;
    padding: 11px;
    border: 1px solid #ddd;
}

/* SIVU "VIIVOJEN" VÄRI */
hr {
    border: 3px solid;
    color: turquoise;
}

/* SIVUPALKKI ULKOMUOTOO */
.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
}


/* SIVUPALKKI TEKSTIT */
.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

/* HOVERIN VÄRI */
.sidenav a:hover {
  /*background-color: #ddd;*/
  color: whitesmoke;
}

/* KESKUSTAN CONTENT MUOKKAUS */
.content {
  margin-left: 300px;
  padding-left: 20px;
}