@{
    ViewBag.Title = "Home Page";
}

@section scripts {
    <script type="text/javascript">
        $(window).on('load', function () {
            if (@ViewBag.LoginError == 1) {
                $('#LoginRuutu').modal('show');
            }
        });
    </script>
}




<h1>TÄMÄ ON SOTECARE MOICCU MOI</h1>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#LoginRuutu">Avaa Modal-ikkuna</button>

@{ 
    Html.RenderPartial("_LoginModal");
}
