@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">SoteCare</h1>
        <hr />
        <p class="lead">Tervetuloa käyttämään SoteCare ohjelmistoa! Tehty osana careerian toisen lukukauden Scrum ja ohjelmistotuotannon menetelmät kurssia.</p>
        <hr />
        <p><a href="https://careeria.fi" class="btn btn-lg btn-info">Careerian sivuille &raquo;</a></p>
    </section>

    <!-- Add a row with the login button in the right corner -->
    <div class="row">
        <div class="col-md-12 text-right">
            @if (Session["UserID"] == null)
            {
            <a href="@Url.Action("Login", "Account")" class="btn btn-lg btn-info">Kirjaudu sisään tästä &raquo;</a> <!-- Login Button -->
            }
        </div>
    </div>
</main>