@model IEnumerable<SoteCare.Models.Patients>

<h2>Select a Patient</h2>

<table class="table">
    <thead>
        <tr>
            <th>Patient Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var patient in Model)
        {
            <tr>
                <td>@patient.FirstName @patient.LastName</td>
                <td>
                    @Html.ActionLink("Manage Medications", "Index", new { patientId = patient.PatientID })
                </td>
            </tr>
        }
    </tbody>
</table>

