@model SoteCare.Models.Medications

<div>
    <h3>Are you sure you want to delete this medication?</h3>
    <p>Medication Name: @Model.MedicationName</p>

    @using (Html.BeginForm("Delete", "Medications", new { id = Model.MedicationID }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-danger">Yes, delete</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
    }
</div>