@model IEnumerable<SoteCare.Models.Medications>
@{
    ViewBag.Title = "MedicationsView";
}

<h2>MedicationsView</h2>

@using(Html.BeginForm())
            {
                @Html.HiddenFor(model => model.MedicationID)

    <div>@Html.LabelForModel(model => model.MedicationName)</div>












            }