@model IEnumerable<SoteCare.Models.Patients>

@{
    ViewBag.Title = "Patients";
}

<h2 class="text-center">Patients</h2>

<div class="container">
    <ul class="list-group">
        @foreach (var item in Model)
        {
            <li class="list-group-item">
                <a href="@Url.Action("Details", "Patients", new { id = item.PatientID })">
                    @item.FirstName @item.LastName
                </a>
            </li>
        }
    </ul>
</div>


